[submodule "lib/cmsis_device_h7"]
	path = lib/cmsis_device_h7
	url = https://github.com/STMicroelectronics/cmsis_device_h7
[submodule "lib/stm32h7xx_hal_driver"]
	path = lib/stm32h7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver
[submodule "lib/cmsis_core"]
	path = lib/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis-core
	branch = cm7
[submodule "lib/tinyuf2"]
	path = lib/tinyuf2
	url = https://github.com/adafruit/tinyuf2.git
